/* style.css */
:root {
    color-scheme: light dark;
}

body {
    color: var(--color);
    background-color: var(--background-color);
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Merriweather', serif;
}

input {
    font-size: 1em;
    margin: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--border-color);
    padding: 8px;
}

tr:nth-child(even){background-color: var(--alternate-cell-color);}

tr:hover {background-color: var(--border-color);}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0c5e64;
    color: #dad1c2;
    font-weight: bold;
}

.github-corner {
    fill: var(--color);
    color: var(--background-color);
}